{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="login">
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-success w-50 mx-auto">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <div class="col-lg-6 mx-auto shadow mb-5 p-5 pt-5">

        <h5 class="text-center mb-3">An OTP send to your email. Please check your email and enter the OTP code here</h5>
        <hr />
        <form action="" method='post'>
            {% csrf_token %}
            <label class="form-label" for="otp">OTP</label>
            <input class="form-control" type="text" placeholder="Enter otp code here" name="otp" id="otp">
            <input class="btn btn-primary w-100 my-3" type="submit" value="Send">
        </form>
    </div>
    <img src="{% static 'images/wave1.png' %}" class="bottom-img">
</div>

{% endblock content %}