{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="login row ">
    <div class="container">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger w-50 mx-auto">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-success w-75 mx-auto">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <div class="col-lg-6 mx-auto shadow mb-5 p-5 pt-5">
            <h3 class="text-center mb-3">Login here</h3>
            <hr />
            <form action="" method='post'>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">{{form.username.label}}</label>
                    {{form.username}}
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">{{form.password.label}}</label>
                    {{form.password}}
                </div>
                <input class="btn btn-primary w-100 my-3" type="submit" value="Login">
                <a href="{% url 'password_reset' %}">Forgot password?</a>
                <p class="text-center mt-3">Don't have an account? <a href="{% url 'register' %}">register</a></p>
            </form>
        </div>
        <img src="{% static 'images/wave1.png' %}" class="bottom-img">
    </div>
</div>


{% endblock content %}