{% extends 'core/base.html' %}
{% load static %}

{% block content %}


<section id="about-us">
    <div class="container">
        {% comment %} <h2 class="text-center my-5">About</h2> {% endcomment %}
      <h1 class="title text-center my-5">ABOUT US</h1>
        <div class="row">
          <div class="col-md-6 about-us">
            <p class="about-title">Why we're different</p>
            <ul>
              <li>Understand our client's goal first</li>
              <li>Belive in doing business goal honesty</li>
              <li>We deliver on time</li>
              <li>We create a wining content strategy</li>
              <li>We protect your online reputation</li>
              <li>We create a wining content strategy</li>
              <li>We protect your online reputation</li>
            </ul>
          </div>
          <div class="col-md-6">
            <img src="{% static 'images/network.png' %}" class="img-fluid">
          </div>
        </div>
    </div>
  </section>


{% endblock content %}