{% extends 'admin/admin_base.html' %}

{% block admin_content %}

{% if users %}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Transaction Screenshot</th>
            <th>Activate</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.user.get_full_name }}</td>
            <td>{{ user.user.phone_number }}</td>
            <td><a href="{{ user.transaction_screenshot.url }}">Screenshot</a></td>
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ user.user.id }}" name="id">
                    <input type="submit" class="btn btn-success btn-sm" value="Activate" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h3 class="text-center mt-5">No user left to activate</h3>
{% endif %}

{% endblock admin_content %}