<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center mb-5">Admin Panel</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="list-group">
                    <a href="{% url 'reload' %}" class="list-group-item list-group-item-action">
                        Reload Site
                    </a>
                    <a href="{% url 'activate-deactivate' %}" class="list-group-item list-group-item-action">Activate/Deactivate users</a>
                    <a href="{% url 'accept-subscription' %}" class="list-group-item list-group-item-action">Accept Subscription</a>
                    <a href="{% url 'accept-payment' %}" class="list-group-item list-group-item-action">Accept withdraw</a>
                    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Logout</a>
                  </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                {% block admin_content %}{% endblock admin_content %}
            </div>
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>