{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="login row ">
    {% if messages %}
    {% for message in messages %}
        <p class="alert alert-warning w-50 mx-auto">{{ message }}</p>
    {% endfor %}
{% endif %}
    <div class="col-lg-6 offset-sm-3 shadow mb-5 p-5 pt-5">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="trxid" class="form-label">Withdraw amount</label>
                <input type="text" name="withdraw_amount" placeholder="Enter amount here..." class="form-control" id="">
            </div>
            <input class="btn btn-success w-100 my-3" type="submit" value="Withdraw">
        </form>
    </div>
    <img src="{% static 'images/wave1.png' %}" class="bottom-img">
</div>


{% endblock content %}